[Desktop Entry]
Name=Yakblt
Comment=A simple bullet-dodging game
Exec=org.kosmospredanie.Yakblt
Terminal=false
Type=Application
Icon=org.kosmospredanie.Yakblt
Categories=Game;
